@font-face {
    font-family: regular;
    src: url('../fonts/GT-Eesti-Pro-Display-Regular.OTF');
}

@font-face {
    font-family: medium;
    src: url('../fonts/GT-Eesti-Pro-Display-Medium.OTF')
}

@font-face {
    font-family: bold;
    src: url('../fonts/GT-Eesti-Pro-Display-Bold.OTF')
}