*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: regular;
    background-color: #f2f2f2;
}

.box {
    color: #998da0;
    padding: 1em;
    text-align: center;
}

input {
    width: 100%;
    padding: 1em;
    outline: none;
    border: 2px solid #e0e6e8;
}

.input-field {
    font-family: regular;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.input-field:focus {
    border-width: 2px;
    border-color: #2dc5a1;
    transition: border-color 0.5s ease, opacity 0.3s ease;
}

.input-submit {
    background-color: #52364e;
    font-family: regular;
    font-size: 18px;
}

.message-list {
    margin: 0;
    padding: 0;
}

.message-list li {
    list-style-type: none;
    padding: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f2f2f2;
    color: #362233;
}

/* Our Grid Code */

.app-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 75px 225px 1fr;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: #ffffff;
}

.teams {
    background-color: #463853;
}

.channels {
    //background-color: #52364e;
    background-color: #ffffff;
    border-right: 2px solid #e6ebf1;
}

.messages {
    background-color: #ffffff;
}

.write {
    background-color: #f2f2f2;
}

.teams {
    grid-column: 1;
    grid-row: 1 / 4;
}

.channels {
    grid-column: 2;
    grid-row: 1 / 4;
}

.header {
    grid-column: 3;
    grid-row: 1;
    color: #333;
    border-bottom: 1px solid #f2f2f2;
}

.messages {
    grid-column: 3;
    grid-row: 2;
    padding: 0 1em;
    overflow-y: scroll;
}

.input {
    grid-column: 3;
    grid-row: 3;
}

// new folks
.item {
    color: #5d5d5d;
    width: 100%;
    padding: 7px;
    margin: 3px;
    border: 0;
    text-align: left;
    font-family: regular;
    font-size: 18px;
    border-radius: 5px;
}

.item:hover {
    color: #362233;
    background-color: #f5f5f5;
    cursor: pointer;
}

.item:focus {
    outline-width: 0;
}

//highlighted compoenent
.item.selected {
    color: #f2f2f2;
    background-color: #e8384f;
    cursor: pointer;
}

.channels-category {
    font-family: medium;
    //font-size: 22px;
    color: #463853;
    text-align: left;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.todos {
    display: flex;
    flex-direction: row;
}
